bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults
node_modules/
/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
appsettings.json
local.settings.json
